extends layout

block content
  h1 Home Page
  p Welcome to Secure My Campus!
  ul
    li: a(href="/complaint") Complaint Page
    li: a(href="/form") Form Page
    li: a(href="/profile") Profile Page
    li: a(href="/signin") Sign In
    li: a(href="/signup") Sign Up